# Editors.
*.sw*
.vscode
.DS_Store
.idea/
cmake-build-debug/
.clangd/
.project_alt.json
CMakeCache.txt
CMakeFiles/
ESQ
Makefile
.clion.source.upload.marker
cmake_install.cmake
compile_commands.json
ESQ.cbp
libESQ.a
thirdparty/

# Build directory.
build/
out/
lib/

